# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# environment variables
.env
.env*.local

# IDE / editor
.idea/
.vscode/

# Native / security
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

